source/pug/landing.pug
html
    head
        link(href='/cat-enclosures-demo/dist/css/landing.css', rel='stylesheet')
    body.landing


        section.landing__section.--title
            img(src='/cat-enclosures-demo/assets/logo.png')
            h1 Backyard Cat Enclosures
            h4 Luxury Real Estate For Cats
            p #[br]Because every cat deserves the best.

        section.landing__section.--navigation
            a.nav__item(href='#features') Features
            a.nav__item(href='#promise') Our Promise
            a.nav__item(href='#compare') Compare
            a.nav__item(href='#testimonials') Testimonials
            a.nav__item(href='#contact') Contact Us
            a.nav__item(href='#decide') Decide
            a.nav__item(href='#values') Our Values

        section.landing__section.--points
            .landing__subtitle#features Features
            .landing__list
                .landing__li Helps your cat stay happy and healthy
                .landing__li Keeps your cat safe and protected
                .landing__li Looks after &amp; protects local wildlife
                .landing__li For cats of all ages
                .landing__li Portable and can travel with you
                .landing__li Unique designs that stand out
                .landing__li Sourced from quality &amp; responsible materials

        section.landing__section.--icons
            h1.icons__title#promise Our promise
            .icon
                img.icon__img(src='/cat-enclosures-demo/assets/money.svg')
                .icon__text %100 Money Back
                .icon__body Any day of the year
            .icon
                img.icon__img(src='/cat-enclosures-demo/assets/shipping.svg')
                .icon__text Lowest price shipping
                .icon__body All over Australia
            .icon
                img.icon__img(src='/cat-enclosures-demo/assets/australia.svg')
                .icon__text Australian Owned/Operated
                .icon__body Since 2016
            .icon
                img.icon__img(src='/cat-enclosures-demo/assets/warranty.svg')
                .icon__text 12 months warranty
                .icon__body Everything is covered
            .icon
                img.icon__img(src='/cat-enclosures-demo/assets/percent.svg')
                .icon__text Finance &amp; Lay-by
                .icon__body Every cat deserves the best

        section.landing__section.--comparison
            table.landing__table#compare
                tr.landing__th
                    td.landing__th__cell
                    td.landing__th__cell.--blue
                        .cell__header Meow Manor
                        .cell__price: strike $1,499
                        .cell__price NOW $979
                    td.landing__th__cell.--blue
                        .cell__header Paws Playhouse
                        .cell__price: strike $1,599
                        .cell__price NOW $1,299
                tr.landing__tr
                    td.landing__td.--blue 100% Money Back Guarantee
                    td.landing__td.--gray.--caps yes
                    td.landing__td.--white.--caps yes
                tr.landing__tr
                    td.landing__td.--blue Lowest price shipping
                    td.landing__td.--gray.--caps yes
                    td.landing__td.--white.--caps yes
                tr.landing__tr
                    td.landing__td.--blue Australian owned &amp; Operated
                    td.landing__td.--gray.--caps yes
                    td.landing__td.--white.--caps yes
                tr.landing__tr
                    td.landing__td.--blue 12 months warranty
                    td.landing__td.--gray.--caps yes
                    td.landing__td.--white.--caps yes
                tr.landing__tr
                    td.landing__td.--blue 0% Finance &amp; Lay-by
                    td.landing__td.--gray.--caps yes
                    td.landing__td.--white.--caps yes
                tr.landing__tr
                    td.landing__td.--blue Stress-free Assembly
                    td.landing__td.--gray.--caps yes
                    td.landing__td.--white.--caps yes
                tr.landing__tr
                    td.landing__td.--blue Sturdy Construction
                    td.landing__td.--gray.--caps yes
                    td.landing__td.--white.--caps yes
                tr.landing__tr
                    td.landing__td.--blue Purrfect Arch Grooming Brush
                    td.landing__td.--gray.--caps yes
                    td.landing__td.--white.--caps yes
                tr.landing__tr
                    td.landing__td.--blue Extras Included
                    td.landing__td.--gray.--caps yes
                    td.landing__td.--white.--caps yes
                tr.landing__tr
                    td.landing__td
                    td.landing__td.--gray: .button.--darker buy now
                    td.landing__td.--white: .button buy now

        section.landing__section.--testimonials
            h1.testimonials__title#testimonials What People Are Saying
            .testimonials__item.--one
                .testimonials__name John Smith 
                .testimonials__text Some text... 
            .testimonials__item.--two
                .testimonials__name John Smith
                .testimonials__text Some text...
            .testimonials__item.--three
                .testimonials__name John Smith
                .testimonials__text Some text...
            .testimonials__item.--four
                .testimonials__name John Smith
                .testimonials__text Some text...

        section.landing__section.--contact
            h1.landing__subtitle#contact Get in touch
            .landing__text Whether you're still not sure or you just want to chat you can contact us any day of the week between 8AM and 8PM.
            h3.landing__phone Call us: 1300 440 453 (8AM - 8PM, 7 Days)

        section.landing__section.--choose
            h1.choose__title#decide Help Me Choose
            .choose__subtitle Can't decide between Meow Manor or Paws Playhouse? Here's a bit more information.
            table.choose__table
                tr
                    td.choose__cell
                        .choose__heading Meow Manor
                        img.choose__image(src='/cat-enclosures-demo/assets/manor.jpg')
                        .choose__reason Price: $979
                        .choose__reason Suitable for: Younger cats, multiple cats
                        .choose__reason Features: cat house + run, unique design, playful features
                        .button.--half.--darker learn more
                    td.choose__cell
                        .choose__heading Paws Playhouse
                        img.choose__image(src='/cat-enclosures-demo/assets/playhouse.jpg')
                        .choose__reason Price: $1299
                        .choose__reason Suitable for: Cats of all ages, multiple cats
                        .choose__reason Features: spacious, flat, easy to access
                        .button.--half learn more

        section.landing__section.--values
            .values__title#values Our Values
            .values__list
                .values__item
                    img.values__icon(src='/cat-enclosures-demo/assets/val1.svg')
                    .values__subtitle Cats
                    .values__text They just rule
                .values__item
                    img.values__icon(src='/cat-enclosures-demo/assets/val2.svg')
                    .values__subtitle Innovation
                    .values__text Done differently
                .values__item
                    img.values__icon(src='/cat-enclosures-demo/assets/val3.svg')
                    .values__subtitle Nature
                    .values__text We respect it
                .values__item
                    img.values__icon(src='/cat-enclosures-demo/assets/val4.svg')
                    .values__subtitle Spirit
                    .values__text Set the standard

        section.landing__section.--sitemap
            h1 site map content here...

        section.landing__newsletter.--newsletter
            h1 sign up for newsletter here...

        section.landing__section.--footer
            ul.footer__links
                li.footer__link: a.footer__a(href='faq') Questions
                li.footer__link: a.footer__a(href='privacy-policy') Privacy
                li.footer__link: a.footer__a(href='terms-conditions') Terms
                li.footer__link: a.footer__a(href='disclaimer') Disclaimer
                li.footer__link: a.footer__a(href='sources') Attribution
            .footer__copyright &copy; 2016 - 2017 Backyard Cat Enclosures. All Rights Reserved.

dist/html/landing.html

<html>
  <head>
    <link href="/cat-enclosures-demo/dist/css/landing.css" rel="stylesheet"/>
  </head>
  <body class="landing">
    <section class="landing__section --title"><img src="/cat-enclosures-demo/assets/logo.png"/>
      <h1>Backyard Cat Enclosures</h1>
      <h4>Luxury Real Estate For Cats</h4>
      <p><br/>Because every cat deserves the best.</p>
    </section>
    <section class="landing__section --navigation"><a class="nav__item" href="#features">Features</a><a class="nav__item" href="#promise">Our Promise</a><a class="nav__item" href="#compare">Compare</a><a class="nav__item" href="#testimonials">Testimonials</a><a class="nav__item" href="#contact">Contact Us</a><a class="nav__item" href="#decide">Decide</a><a class="nav__item" href="#values">Our Values</a></section>
    <section class="landing__section --points">
      <div class="landing__subtitle" id="features">Features</div>
      <div class="landing__list">
        <div class="landing__li">Helps your cat stay happy and healthy</div>
        <div class="landing__li">Keeps your cat safe and protected</div>
        <div class="landing__li">Looks after &amp; protects local wildlife</div>
        <div class="landing__li">For cats of all ages</div>
        <div class="landing__li">Portable and can travel with you</div>
        <div class="landing__li">Unique designs that stand out</div>
        <div class="landing__li">Sourced from quality &amp; responsible materials</div>
      </div>
    </section>
    <section class="landing__section --icons">
      <h1 class="icons__title" id="promise">Our promise</h1>
      <div class="icon"><img class="icon__img" src="/cat-enclosures-demo/assets/money.svg"/>
        <div class="icon__text">%100 Money Back</div>
        <div class="icon__body">Any day of the year</div>
      </div>
      <div class="icon"><img class="icon__img" src="/cat-enclosures-demo/assets/shipping.svg"/>
        <div class="icon__text">Lowest price shipping</div>
        <div class="icon__body">All over Australia</div>
      </div>
      <div class="icon"><img class="icon__img" src="/cat-enclosures-demo/assets/australia.svg"/>
        <div class="icon__text">Australian Owned/Operated</div>
        <div class="icon__body">Since 2016</div>
      </div>
      <div class="icon"><img class="icon__img" src="/cat-enclosures-demo/assets/warranty.svg"/>
        <div class="icon__text">12 months warranty</div>
        <div class="icon__body">Everything is covered</div>
      </div>
      <div class="icon"><img class="icon__img" src="/cat-enclosures-demo/assets/percent.svg"/>
        <div class="icon__text">Finance &amp; Lay-by</div>
        <div class="icon__body">Every cat deserves the best</div>
      </div>
    </section>
    <section class="landing__section --comparison">
      <table class="landing__table" id="compare">
        <tr class="landing__th">
          <td class="landing__th__cell"></td>
          <td class="landing__th__cell --blue">
            <div class="cell__header">Meow Manor</div>
            <div class="cell__price">
              <strike>$1,499</strike>
            </div>
            <div class="cell__price">NOW $979</div>
          </td>
          <td class="landing__th__cell --blue">
            <div class="cell__header">Paws Playhouse</div>
            <div class="cell__price">
              <strike>$1,599</strike>
            </div>
            <div class="cell__price">NOW $1,299</div>
          </td>
        </tr>
        <tr class="landing__tr">
          <td class="landing__td --blue">100% Money Back Guarantee</td>
          <td class="landing__td --gray --caps">yes</td>
          <td class="landing__td --white --caps">yes</td>
        </tr>
        <tr class="landing__tr">
          <td class="landing__td --blue">Lowest price shipping</td>
          <td class="landing__td --gray --caps">yes</td>
          <td class="landing__td --white --caps">yes</td>
        </tr>
        <tr class="landing__tr">
          <td class="landing__td --blue">Australian owned &amp; Operated</td>
          <td class="landing__td --gray --caps">yes</td>
          <td class="landing__td --white --caps">yes</td>
        </tr>
        <tr class="landing__tr">
          <td class="landing__td --blue">12 months warranty</td>
          <td class="landing__td --gray --caps">yes</td>
          <td class="landing__td --white --caps">yes</td>
        </tr>
        <tr class="landing__tr">
          <td class="landing__td --blue">0% Finance &amp; Lay-by</td>
          <td class="landing__td --gray --caps">yes</td>
          <td class="landing__td --white --caps">yes</td>
        </tr>
        <tr class="landing__tr">
          <td class="landing__td --blue">Stress-free Assembly</td>
          <td class="landing__td --gray --caps">yes</td>
          <td class="landing__td --white --caps">yes</td>
        </tr>
        <tr class="landing__tr">
          <td class="landing__td --blue">Sturdy Construction</td>
          <td class="landing__td --gray --caps">yes</td>
          <td class="landing__td --white --caps">yes</td>
        </tr>
        <tr class="landing__tr">
          <td class="landing__td --blue">Purrfect Arch Grooming Brush</td>
          <td class="landing__td --gray --caps">yes</td>
          <td class="landing__td --white --caps">yes</td>
        </tr>
        <tr class="landing__tr">
          <td class="landing__td --blue">Extras Included</td>
          <td class="landing__td --gray --caps">yes</td>
          <td class="landing__td --white --caps">yes</td>
        </tr>
        <tr class="landing__tr">
          <td class="landing__td"></td>
          <td class="landing__td --gray">
            <div class="button --darker">buy now</div>
          </td>
          <td class="landing__td --white">
            <div class="button">buy now</div>
          </td>
        </tr>
      </table>
    </section>
    <section class="landing__section --testimonials">
      <h1 class="testimonials__title" id="testimonials">What People Are Saying</h1>
      <div class="testimonials__item --one">
        <div class="testimonials__name">John Smith </div>
        <div class="testimonials__text">Some text... </div>
      </div>
      <div class="testimonials__item --two">
        <div class="testimonials__name">John Smith</div>
        <div class="testimonials__text">Some text...</div>
      </div>
      <div class="testimonials__item --three">
        <div class="testimonials__name">John Smith</div>
        <div class="testimonials__text">Some text...</div>
      </div>
      <div class="testimonials__item --four">
        <div class="testimonials__name">John Smith</div>
        <div class="testimonials__text">Some text...</div>
      </div>
    </section>
    <section class="landing__section --contact">
      <h1 class="landing__subtitle" id="contact">Get in touch</h1>
      <div class="landing__text">Whether you're still not sure or you just want to chat you can contact us any day of the week between 8AM and 8PM.</div>
      <h3 class="landing__phone">Call us: 1300 440 453 (8AM - 8PM, 7 Days)</h3>
    </section>
    <section class="landing__section --choose">
      <h1 class="choose__title" id="decide">Help Me Choose</h1>
      <div class="choose__subtitle">Can't decide between Meow Manor or Paws Playhouse? Here's a bit more information.</div>
      <table class="choose__table">
        <tr>
          <td class="choose__cell">
            <div class="choose__heading">Meow Manor</div><img class="choose__image" src="/cat-enclosures-demo/assets/manor.jpg"/>
            <div class="choose__reason">Price: $979</div>
            <div class="choose__reason">Suitable for: Younger cats, multiple cats</div>
            <div class="choose__reason">Features: cat house + run, unique design, playful features</div>
            <div class="button --half --darker">learn more</div>
          </td>
          <td class="choose__cell">
            <div class="choose__heading">Paws Playhouse</div><img class="choose__image" src="/cat-enclosures-demo/assets/playhouse.jpg"/>
            <div class="choose__reason">Price: $1299</div>
            <div class="choose__reason">Suitable for: Cats of all ages, multiple cats</div>
            <div class="choose__reason">Features: spacious, flat, easy to access</div>
            <div class="button --half">learn more</div>
          </td>
        </tr>
      </table>
    </section>
    <section class="landing__section --values">
      <div class="values__title" id="values">Our Values</div>
      <div class="values__list">
        <div class="values__item"><img class="values__icon" src="/cat-enclosures-demo/assets/val1.svg"/>
          <div class="values__subtitle">Cats</div>
          <div class="values__text">They just rule</div>
        </div>
        <div class="values__item"><img class="values__icon" src="/cat-enclosures-demo/assets/val2.svg"/>
          <div class="values__subtitle">Innovation</div>
          <div class="values__text">Done differently</div>
        </div>
        <div class="values__item"><img class="values__icon" src="/cat-enclosures-demo/assets/val3.svg"/>
          <div class="values__subtitle">Nature</div>
          <div class="values__text">We respect it</div>
        </div>
        <div class="values__item"><img class="values__icon" src="/cat-enclosures-demo/assets/val4.svg"/>
          <div class="values__subtitle">Spirit</div>
          <div class="values__text">Set the standard</div>
        </div>
      </div>
    </section>
    <section class="landing__section --sitemap">
      <h1>site map content here...</h1>
    </section>
    <section class="landing__newsletter --newsletter">
      <h1>sign up for newsletter here...</h1>
    </section>
    <section class="landing__section --footer">
      <ul class="footer__links">
        <li class="footer__link"><a class="footer__a" href="faq">Questions</a></li>
        <li class="footer__link"><a class="footer__a" href="privacy-policy">Privacy</a></li>
        <li class="footer__link"><a class="footer__a" href="terms-conditions">Terms</a></li>
        <li class="footer__link"><a class="footer__a" href="disclaimer">Disclaimer</a></li>
        <li class="footer__link"><a class="footer__a" href="sources">Attribution</a></li>
      </ul>
      <div class="footer__copyright">&copy; 2016 - 2017 Backyard Cat Enclosures. All Rights Reserved.</div>
    </section>
  </body>
</html>
